*,*::after,*::before{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding:0;
}
.header-con
{
    margin: 30px;
}
.nav-con a{
    color: black;
    margin: 28px;
}
.first-image-con img{
    width: 80%;
    height: auto;  
}
h5{
    display: inline;
}
.first-text-con{
    padding: 10px;
    width: 50%;
}
button{
    background-color: #2f65f8;
    margin: 5px;
    padding: 13px;
    border: none;
    height: auto;
    border-radius:3.1px ;
    color: #ffff;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}

input{
    margin: 5px;
    height: 40px;
    border: 0.625px solid #07043B;
    border-radius: 3.1px;
}
.get-started-input{
    width: 50%;
}
.get-input
{
    width: 60%;
}
.about-fylo-second-con{
    background:url("./assets/images/Rectangle.png"),#F8F8FE;
}
.second-img-con img{
    width: 80%;
    height: auto;
}
.second-text-con{
    padding: 10px;
    width: 50%;
}
.how-works-a{
    color:#3DA08F;
    padding: 6px;
}
.how-works-a:hover{
    color: #71DFCC;
}
.founder-con{
   max-width: 30rem;
    height: auto;
    padding: 25px;
    background-color: #FFFFFF;
}
.about-founder{
    padding: 10px;
    width: 60%;
}
.founder-img-con{
    background: url("./assets/images/avatar-testimonial.jpg");
    width: 48px;
    height: 48px;
    margin-top: 10px;
}
.get-access-con{
    background-color: #575988;
    height: auto;
    width: 100%;
    padding: 30px;
}
.get-access-con-div
{
    width: 100%;
}
.access-text
{
    max-width: 60%;
}
.get-email{
    height:auto;
    width: 100%;
}
.get-started-btn
{
    max-width: 60rem;
}
.for-free-btn
{
    max-width: 60%;
}
 button:hover
{
    background-color: #6C9BFF;
    transition: 0.7s ease-in-out;
}
.footer-con{
    background-color: #07043B;
    width: 100%;
    height: auto;
}

.log0{
    width: 18px;
    height: 16px;
    margin-left: 15px;
}
.logo-and-contact
{
    width: 33%;
}
.contact-div
{
    width: 32%;
}
.footer-links{
    height: auto;
    width: 35%;
  flex-direction: row;
}
.footer-links a:hover
{
    color: #2f65f8;
    transition: 0.7s ease-in-out;
}
.contact{
    width: 30px;
    height: 30px;
    border: 1px solid #ffff;
    margin-top: 50px;
    margin-left: 70px;
}
.div-con{
    margin: 0;
    padding: 0;
    background-color: #F8F8FE
}
.hamburger
{
    width: 30px;
    height: 30px;
    display: none;
}
@media only screen and (max-width: 1184px) {
    .footer-con
    {
        flex-direction: column;
    }
    .footer-links
    {
        display: flex;
        flex-direction: column;
    }
    .get-access-con-div{
        flex-direction: column;
    }
  }

  @media only screen and (max-width: 940px) {
  .hamburger
  {
      display: block;
  }
  .nav-con a{
      display: none;
  }
  .logo
  {
      width: 50%;
  }
  @media only screen and (max-width: 870px) {
      .first-div
      {
          flex-direction: column;
          width: 100%;
      }
      .first-text-con
      {
          width: 100%;
      }
      .second-text-con
      {
          width: 100%   ;
      }
    
      .second-div
      {
          flex-direction: column;
      }
     
  }
}
@media only screen and (max-width: 476px) {
    .about-founder
    {
        flex-direction: column;
    }
}